* {
	padding: 0px;
	margin: 0px;
}


body {
	padding-top: 50px;
	padding-bottom: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















