{
    "version":0.1,
    "reddituser":"username",
    "redditpass":"password",
    "host":{
        "listenaddr":"0.0.0.0",
        "listenport":"8080"
    },
    "database":{
        "dbhost":"dbhost",
        "dbuser":"dbuser",
        "dbpass":"pass",
        "dbname":"dbname"
    }
}
