{
    "version":0.1,
    "host":{
        "listenaddr":"0.0.0.0",
        "listenport":"8080"
    },
    "database":{
        "dbhost":"dbhost",
        "dbuser":"dbuser",
        "dbpass":"pass",
        "dbname":"dbname"
    },
    "reddit":{
        "username":"username",
        "password":"password"
        "clientkey":"xxxx",
        "secretkey":"yyyy",
        "redirecturl":"http://0.0.0.0:8080/redirect"
    }
}
