{
    "version":0.1,
    "reddituser":"meppit",
    "redditpass":"Changeme22",
    "host":{
        "listenaddr":"50.116.22.42",
        "listenport":"8080"
    },
    "database":{
        "dbhost":"wwwdbhost",
        "dbuser":"meppit",
        "dbpass":"c7e61d4eee",
        "dbname":"meppit"
    }
}
