* {
	padding: 0px;
	margin: 0px;
}


body {
	padding-top: 50px;
	padding-bottom: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.container {
    margin-top: 5px;
}
 
#logo, #nav, #usernav{
    margin: 13px 0 0 0;
}
 
#logo ul li, #nav ul li, #usernav ul li {
    display: inline;
    margin: 0 20px 0 0;
    margin-bottom: 30px;
}
 
#logo a, #nav a, #usernav a {
    text-decoration: none;
}
 
#nav a:hover, #usernav a:hover {
    text-decoration: underline;
}












