{{define "admin/fetch" }}
<br />
    {{range .Submissions }}
    <div>(<a href="/admin/fetch/detail/{{.RedditID}}">{{.RedditID}}</a>)
        <a href="{{.URL}}">{{.Title}}</a>
     <br />

    {{end}}
{{end}}
